// Variables
@import 'variables';
// Header nav

nav.navbar-style {
    font-weight: bolder;
    font-size: 17px;
    background-color: $red;

    a {
        padding-left: 3rem;
    }

    div {
        ul.navbar-nav {
            li.nav-item {
                a.nav-link {
                    color: #4b4b4b;
                }
                a.nav-link:hover {
                    color: $pink;
                }
            }
        }
    }

    div {
        form {
            button.button-search-style {
                outline: none;
                border: none;
                border-radius: 0.4rem;
                background-color: $pink;
            }
            button.button-search-style:hover {
                background-color: #f68fad;
            }
        }
    }
}

div.nav-item.dropdown {
    a.nav-link {
        color: $pink;

        i:hover {
            color: #f68fad;
        }
    }
    a.nav-link:hover {
        color: #f68fad;
    }

    div.dropdown-menu {
        position: absolute;
        left: -4rem;

        a.dropdown-item {
            padding-right: 0;
            padding-left: 0.5rem;
        }

        a.dropdown-item:hover {
            background-color: $red;
        }
    }
}

// Footer
div.container-fluid {
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
    margin-left: 0;
    width: 100%;

    .row {
        div.col-sm-12 {
            text-align: center;

            footer.footer {
                background-color: $red;
                font-weight: normal;
                font-size: 14px;
                position: fixed;
                left: 0;
                bottom: 0;
                width: 100%;
                height: auto;

                ul.footer-list {
                    list-style: none;
                    padding-left: 0;
                    margin-bottom: 0;

                    li {
                        display: inline-block;
                        padding: 15px 80px;
                        letter-spacing: 0.1em;

                        span {
                            color: $pink;
                        }
                    }
                }
            }
        }
    }
}

// Auth

.container-fluid {
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
    margin-left: 0;
    width: 100%;
}

// Errors and successes

.errors-and-successes {
    padding-top: 10px;

    .alert.alert-success {
        background-color: $red;
        border: none;
        outline: none;
    }
}

// Login

.login-card {
    padding-top: 100px;
    border: none;
    border: 1px solid $red;
    border-radius: 15px;

    .card-header {
        background-color: $white;
        font-size: 20px;
        border: none;
        color: #f62e75;
        padding-top: 15px;
        padding-bottom: 0;
    }

    .card{
        border: none;
        border-radius: 10px;

        .card-body {
            form {
                .form-group {
                    label {
                        color: #f62e75;
                        font-size: 16px;
                    }

                    div {
                        input {
                            border: none;
                            outline: none;
                            border: 0.5px solid #f62e75;
                        }

                        button.login-btn {
                            background-color: $pink;
                            color: $white;
                        }
                        button.login-btn:hover {
                            background-color: #f68fad;
                        }
                        
                        a.btn.btn-link {
                            text-decoration: none;
                            color: #f62e75;
                            font-size: 16px;
                        }
                        a.btn.btn-link:hover {
                            color: #0f003d;
                        }
                    }
                }
            }
        }
    }
}

// Register

.register-card {
    padding-top: 15px;

    .card {
        border: none;

        .card-header {
            background-color: $white;
            font-size: 20px;
            border: none;
            color: #f62e75;
            padding-top: 15px;
            padding-bottom: 0;
        }

        .card-body {
            form {
                .form-group {
                    label {
                        color: #f62e75;
                        font-size: 16px;
                    }

                    div {
                        input, select {
                            border: none;
                            outline: none;
                            border: 0.5px solid #f62e75;
                        }

                        input#logo {
                            height: 45px;
                            padding-bottom: 10px;
                        }

                        button.register-btn {
                            background-color: $pink;
                            color: $white;
                        }
                        button.register-btn:hover {
                            background-color: #f68fad;
                        }

                        a.btn.btn-link {
                            text-decoration: none;
                            color: #f62e75;
                            font-size: 16px;
                        }
                        a.btn.btn-link:hover {
                            color: #0f003d;
                        }
                    }
                }
            }
        }
    }
}

// Email verify

.email-verify {
    position: relative;
    top: 50px;

    .card {
        border: none;

        .card-header {
            background-color: $white;
            font-size: 20px;
            border: none;
            color: #f62e75;
            padding-top: 15px;
            padding-bottom: 0;
        }

        .card-body {
            form {
                .form-group {
                    label {
                        color: #f62e75;
                        font-size: 16px;
                    }

                    div {
                        input, select {
                            border: none;
                            outline: none;
                            border: 0.5px solid #f62e75;
                        }

                        input#logo {
                            height: 45px;
                            padding-bottom: 10px;
                        }

                        button.email-verify-btn {
                            background-color: $pink;
                            color: $white;
                        }
                        button.email-verify-btn:hover {
                            background-color: #f68fad;
                        }

                        a.btn.btn-link {
                            text-decoration: none;
                            color: #f62e75;
                            font-size: 16px;
                        }
                        a.btn.btn-link:hover {
                            color: #0f003d;
                        }
                    }
                }
            }
        }
    }
}

// Reset verify page

.reset-verify {
    position: relative;
    top: 50px;

    .card {
        border: none;

        .card-header {
            background-color: $white;
            font-size: 20px;
            border: none;
            color: #f62e75;
            padding-top: 15px;
            padding-bottom: 0;
        }

        .card-body {
            form {
                .form-group {
                    label {
                        color: #f62e75;
                        font-size: 16px;
                    }

                    div {
                        input, select {
                            border: none;
                            outline: none;
                            border: 0.5px solid #f62e75;
                        }

                        input#logo {
                            height: 45px;
                            padding-bottom: 10px;
                        }

                        button.reset-verify-btn {
                            background-color: $pink;
                            color: $white;
                        }
                        button.reset-verify-btn:hover {
                            background-color: #f68fad;
                        }

                        a.btn.btn-link {
                            text-decoration: none;
                            color: #f62e75;
                            font-size: 16px;
                        }
                        a.btn.btn-link:hover {
                            color: #0f003d;
                        }
                    }
                }
            }
        }
    }
}

// Companies create

.row.add-new-company {
    width: auto;
    margin: 0;
    padding: 0;

    .col-sm-10 {
        padding: 10px 0 20px 60px ;

        h1 {
            text-align: left;
            color: $pink;
            letter-spacing: 0.5px;
        }
    }
    .col-sm-2 {
        padding-top: 22px;

        a {
            text-decoration: none;

            button.add-new-comp {
                background-color: $pink;
                color: $white;
            }

            button.add-new-comp:hover {
                background-color: #f68fad;
            }
        }
    }
}

.row.add-new-comp-form {
    form {
        .form-group {
            label {
                color: #f62e75;
                font-size: 16px;
            }

            div {
                input {
                    border: none;
                    outline: none;
                    border: 0.5px solid #f62e75;
                }

                button.add-comp-btn {
                    background-color: $pink;
                    color: $white;
                }
                button.add-comp-btn:hover {
                    background-color: #f68fad;
                }
            }
        }
    }
}

// Companies index

.row.index-company {
    width: auto;
    margin: 0;
    padding: 0;

    .col-sm-9 {
        padding: 10px 0 20px 60px ;

        h2 {
            text-align: left;
            color: $pink;
            letter-spacing: 0.5px;
        }
    }
    .col-sm-3 {
        padding-top: 22px;
        padding-left: 50px;

        a {
            text-decoration: none;

            button.add-new-comp {
                background-color: $pink;
                color: $white;
            }

            button.add-new-comp:hover {
                background-color: #f68fad;
            }
        }
    }
}

.row.add-new-comp-form {
    form {
        .form-group {
            label {
                color: #f62e75;
                font-size: 16px;
            }

            div {
                input {
                    border: none;
                    outline: none;
                    border: 0.5px solid #f62e75;
                }

                button.add-comp-btn {
                    background-color: $pink;
                    color: $white;
                }
                button.add-comp-btn:hover {
                    background-color: #f68fad;
                }
            }
        }
    }
}

// Index page company

.row.company-list {
    .col-sm-7 {
        ul {
            list-style: none;
            width: 30rem;
            margin: 0 auto;
            padding-left: 0;

            li {
                display: block;
                width: 10rem;
                margin: 0 auto;
                height: auto;
                padding: 5px 10px;

                a {
                    button.btn.comp-list-btn {
                        color: $white;
                        letter-spacing: 1.5px;
                        width: 100%;
                    }

                    button.btn.comp-list-btn:hover {
                        color: $lightBlack;
                    }
                }
            }
        }
    }
}

// Category create

.col-sm-5.create-category {
    h4 {
        text-align: left;
        color: $pink;
        letter-spacing: 0.5px;
        padding: 25px 0 5px 20px;
    }

    form.create-cat-form {
        padding-top: 15px;

        input {

        }

        .form-group {
            label {
                color: #f62e75;
                font-size: 16px;
            }

            div {
                input {
                    border: none;
                    outline: none;
                    border: 0.5px solid #f62e75;
                }

                button.add-cat-btn {
                    background-color: $pink;
                    color: $white;
                }
                button.add-cat-btn:hover {
                    background-color: #f68fad;
                }
            }
        }
    }
}

// Period create

.col-sm-7.create-period {
    h4 {
        text-align: left;
        color: $pink;
        letter-spacing: 0.5px;
        padding: 25px 0 5px 20px;
    }

    form.create-period-form {
        padding-top: 10px;

        input {

        }

        .form-group {
            label {
                color: #f62e75;
                font-size: 16px;
            }
            div.col-sm-6 {
                div.datarange {
                    input {
                        border: none;
                        outline: none;
                        border: 0.5px solid #f62e75;
                        -webkit-border-radius: 5px;
                        -moz-border-radius: 5px;
                        border-radius: 5px;
                        height: 2.3rem;
                    }

                    span {

                    }
                }
            }

            div {
                button.add-per-btn {
                    background-color: $pink;
                    color: $white;
                }
                button.add-per-btn:hover {
                    background-color: #f68fad;
                }
            }
        }
    }
}

// Categories list

.col-sm-4.categories-table {
    div {
        padding: 15px 0 0 25px;

        table.table {
            thead {
                tr {
                    th {
                        color: $pink;
                        border: none;
                        text-align: center;
                    }
                }
            }
            tbody {
                tr {
                    td {
                        color: $pink;
                        border-top: 0.5px solid $red;
                        text-align: center;

                        a {
                            text-decoration: none;

                            i {
                                color: $pink;
                            }

                            i:hover {
                                color: $red;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Periods list

.col-sm-5.periods-table {
    div {
        padding: 15px 0 0 25px;

        table.table {
            thead {
                tr {
                    th {
                        color: $pink;
                        border: none;
                        text-align: center;
                    }
                }
            }
            tbody {
                tr {
                    td {
                        color: $pink;
                        border-top: 0.5px solid $red;
                        text-align: center;

                        a {
                            text-decoration: none;

                            i {
                                color: $pink;
                            }

                            i:hover {
                                color: $red;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Category update
.row.justify-content-center {
    .col-sm-6.edit-category {
        h4 {
            text-align: center;
            color: $pink;
            letter-spacing: 0.5px;
            padding: 25px 0 5px 0;
        }

        form.edit-cat-form {
            padding-top: 10px;

            .form-group {
                label {
                    color: #f62e75;
                    font-size: 16px;
                }
                div.col-sm-6 {
                    input {
                        border: none;
                        outline: none;
                        border: 0.5px solid #f62e75;
                        -webkit-border-radius: 5px;
                        -moz-border-radius: 5px;
                        border-radius: 5px;
                        height: 2.3rem;
                    }
                }

                div {
                    button.btn.edit-cat-btn {
                        background-color: $pink;
                        color: $white;
                    }
                    button.btn.edit-cat-btn:hover {
                        background-color: #f68fad;
                    }
                }
            }
        }
    }
}

// Period update
.row.justify-content-center {
    .col-sm-7.edit-period {
        h4 {
            text-align: center;
            color: $pink;
            letter-spacing: 0.5px;
            padding: 25px 0 5px 0;
        }

        form.edit-period-form {
            padding-top: 10px;

            .form-group {
                label {
                    color: #f62e75;
                    font-size: 16px;
                }
                div.col-sm-6 {
                    div.datarange {
                        input {
                            border: none;
                            outline: none;
                            border: 0.5px solid #f62e75;
                            -webkit-border-radius: 5px;
                            -moz-border-radius: 5px;
                            border-radius: 5px;
                            height: 2.3rem;
                        }
                    }
                }

                div {
                    button.btn.edit-per-btn {
                        background-color: $pink;
                        color: $white;
                    }
                    button.btn.edit-per-btn:hover {
                        background-color: #f68fad;
                    }
                }
            }
        }
    }
}

// Users index page

.row.index-users {
    width: auto;
    margin: 0;
    padding: 0;

    .col-sm-9 {
        padding: 10px 0 20px 60px ;

        h2 {
            text-align: left;
            color: $pink;
            letter-spacing: 0.5px;
        }
    }
    .col-sm-3 {
        padding-top: 22px;
        padding-left: 50px;

        a {
            text-decoration: none;

            button.add-new-user {
                background-color: $pink;
                color: $white;
            }

            button.add-new-user:hover {
                background-color: #f68fad;
            }
        }
    }
}

// Users create page

.add-new-user-form {
    .col-sm-8 {
        form {
            .form-group {
                label {
                    color: #f62e75;
                    font-size: 16px;
                }

                div {
                    input, select {
                        border: none;
                        outline: none;
                        border: 0.5px solid #f62e75;
                    }

                    button.register-btn {
                        background-color: $pink;
                        color: $white;
                    }
                    button.register-btn:hover {
                        background-color: #f68fad;
                    }

                    a.btn.btn-link {
                        text-decoration: none;
                        color: #f62e75;
                        font-size: 16px;
                    }
                    a.btn.btn-link:hover {
                        color: #0f003d;
                    }
                }
            }
        }
    }
}

.row.index-users-table {
    .col-sm-8 {
        div {
            padding: 25px 0 25px 0;

            table {
                thead {
                    border-bottom: 1px solid $pink;

                    tr {
                        text-align: center;

                        th {
                            padding-bottom: 10px;
                        }
                    }
                }

                tbody {
                    tr {
                        text-align: center;

                        td {
                            padding-top: 10px;

                            i {
                                color: $pink;
                            }
                            i:hover {
                                color: $red;
                            }
                        }
                    }
                }
            }
        }
    }
}

// User edit page

.row.edit-users {
    width: auto;
    margin: 0;
    padding: 0;

    .col-sm-9 {
        padding: 10px 0 20px 60px ;

        h2 {
            text-align: left;
            color: $pink;
            letter-spacing: 0.5px;
        }
    }
    .col-sm-3 {
        padding-top: 22px;
        padding-left: 50px;

        a {
            text-decoration: none;

            button.add-new-user {
                background-color: $pink;
                color: $white;
            }

            button.add-new-user:hover {
                background-color: #f68fad;
            }
        }
    }
}

.edit-user-form {
    .col-sm-8 {
        form {
            .form-group {
                label {
                    color: #f62e75;
                    font-size: 16px;
                }

                div {
                    input, select {
                        border: none;
                        outline: none;
                        border: 0.5px solid #f62e75;
                    }

                    button.register-btn {
                        background-color: $pink;
                        color: $white;
                    }
                    button.register-btn:hover {
                        background-color: #f68fad;
                    }

                    a.btn.btn-link {
                        text-decoration: none;
                        color: #f62e75;
                        font-size: 16px;
                    }
                    a.btn.btn-link:hover {
                        color: #0f003d;
                    }
                }
            }
        }
    }
}

// Budget create page

.row.create-budgets {
    width: auto;
    margin: 0;
    padding: 0;

    .col-sm-9 {
        padding: 10px 0 20px 60px ;

        h2 {
            text-align: left;
            color: $pink;
            letter-spacing: 0.5px;
        }
    }
    .col-sm-3 {
        padding-top: 22px;
        padding-left: 50px;

        a {
            text-decoration: none;

            button.add-new-budget {
                background-color: $pink;
                color: $white;
            }

            button.add-new-budget:hover {
                background-color: #f68fad;
            }
        }
    }
}

.row.add-new-bud-form {
    .col-sm-7 {
        form {
            .form-group {
                label {
                    color: #f62e75;
                    font-size: 16px;
                }

                div {
                    input, select {
                        border: none;
                        outline: none;
                        border: 0.5px solid #f62e75;
                    }

                    button.add-bud-btn {
                        background-color: $pink;
                        color: $white;
                    }
                    button.add-bud-btn:hover {
                        background-color: #f68fad;
                    }
                }
            }
        }
    }
}

// Budget index page

.row.index-budgets {
    width: auto;
    margin: 0;
    padding: 0;

    .col-sm-3 {
        padding: 10px 0 20px 60px ;

        h2 {
            text-align: left;
            color: $pink;
            letter-spacing: 0.5px;
        }
    }
    .col-sm-3 {
        padding-top: 22px;
        padding-left: 50px;

        a {
            text-decoration: none;

            button.add-new-budget {
                background-color: $pink;
                color: $white;
            }

            button.add-new-budget:hover {
                background-color: #f68fad;
            }
        }
    }

    .col-sm-3.chooseBud {
        padding-left: 0;

        .dropdown {
            width: 250px;

            select {
                border: none;
                outline: none;
                border: 0.5px solid #f62e75;
            }
        }
    }
}

.row.table-budgets {
    width: auto;
    margin: 0;
    padding: 0 0 60px 0;

    .col-sm-2.budget-sidebar {
        padding-right: 0px;

        h2 {
            text-align: center;
        }

        div {
            padding-top: 7px;

            a {
                text-decoration: none;
                border-radius: 3px;
                margin-bottom: 10px;

                .cat-group-budget {
                    padding-bottom: 7px;

                    p {
                        margin-bottom: 0;
                        text-align: center;
                    }
                }
            }
        }
    }

    .col-sm-9 {
        padding: 0 0 0 60px;
        padding-left: 40px;

        .budget-table {
            table.table {
                border-bottom: 1px solid $darkRed;

                thead {
                    tr {
                        th#budget-item {
                            border: none;
                            border: 1px solid $darkRed;
                            color: $darkRed;
                            font-size: 1.5rem;
                            text-align: left;
                        }

                        th {
                            border: none;
                            border: 1px solid $darkRed;
                            color: $darkRed;
                            font-size: 1.5rem;
                            text-align: center;
                        }
                    }
                }

                tbody {
                    tr {
                        td.request {
                            padding: 5px 0 5px 10px;
                            border: none;
                            border: 1px solid $darkRed;

                            h5 {
                                span {
                                    color: $lightBlack;
                                    font-weight: bolder;
                                    padding-top: 5px;
                                    letter-spacing: 1.7px;
                                }
                            }

                            p {
                                margin-bottom: 0;
                                padding-left: 0;
                                font-style: italic;

                                span {
                                    color: $pink;
                                    font-weight: bolder;
                                }
                            }
                        }

                        td.amount {
                            text-align: center;
                            vertical-align: middle;
                            font-weight: bolder;
                            color: $darkRed;
                            border: none;
                            border: 1px solid $darkRed;
                        }

                        td.approvers {
                            text-align: center;
                            vertical-align: middle;
                            font-weight: bolder;
                            color: $darkRed;
                            border: none;
                            border: 1px solid $darkRed;
                        }

                        td.details {
                            text-align: center;
                            vertical-align: middle;
                            font-weight: bolder;
                            color: $darkRed;
                            border: none;
                            border: 1px solid $darkRed;
                        }
                    }
                }
            }
        }

        .col-sm-12.total-price {
            .col-sm-5.total {
                border-bottom: 1px solid $darkRed;
                float: right;
                padding-bottom: 7px;

                span {
                    color: $darkRed;
                    letter-spacing: normal;
                }

                .col-sm-5.list {
                    padding-left: 0;

                    p {
                        width: 350px;
                        margin-bottom: 0;
                        text-align: left;

                        span {
                            float: right;
                            color: $pink;
                            font-weight: bolder;
                        }
                    }
                }
            }
        }

        h4 {
            width: 400px;
            margin: 0 auto;
            color: $darkRed;
            font-size: 2rem;
            letter-spacing: normal;
        }
    }
}

// Expenses

// create expense page

.row.create-expenses {
    width: auto;
    margin: 0;
    padding: 0;

    .col-sm-9 {
        padding: 10px 0 20px 60px ;

        h2 {
            text-align: left;
            color: $pink;
            letter-spacing: 0.5px;
        }
    }
    .col-sm-3 {
        padding-top: 22px;
        padding-left: 50px;

        a {
            text-decoration: none;

            button.add-new-expense {
                background-color: $pink;
                color: $white;
            }

            button.add-new-expense:hover {
                background-color: #f68fad;
            }
        }
    }
}

.row.add-new-exp-form {
    .col-sm-7 {
        padding-bottom: 40px;

        form {
            .form-group {
                label {
                    color: #f62e75;
                    font-size: 16px;
                }

                div {
                    input, select, textarea {
                        border: none;
                        outline: none;
                        border: 0.5px solid #f62e75;
                    }

                    p.red {
                        color: $darkRed;
                        font-weight: bolder;
                        padding-top: 3px;
                        margin-bottom: 0;
                    }

                    input#file {
                        height: 100%;
                    }

                    button.add-exp-btn {
                        background-color: $pink;
                        color: $white;
                    }
                    button.add-exp-btn:hover {
                        background-color: #f68fad;
                    }
                }
            }
        }
    }
}

// expense index page

.row.index-expense {
    width: auto;
    margin: 0;
    padding: 0;

    .col-sm-3 {
        padding: 10px 0 20px 60px ;

        h2 {
            text-align: left;
            color: $pink;
            letter-spacing: 0.5px;
        }
    }
    .col-sm-3 {
        padding-top: 22px;
        padding-left: 50px;

        a {
            text-decoration: none;

            button.add-new-expense {
                background-color: $pink;
                color: $white;
            }

            button.add-new-expense:hover {
                background-color: #f68fad;
            }
        }
    }

    .col-sm-3.chooseExp {
        padding-left: 0;

        .dropdown {
            width: 250px;

            select {
                border: none;
                outline: none;
                border: 0.5px solid #f62e75;
            }
        }
    }
}