nav.navbar-style {
  font-weight: bolder;
  font-size: 17px;
  background-color: #ffe6e3;
}

nav.navbar-style a {
  padding-left: 3rem;
}

nav.navbar-style div ul.navbar-nav li.nav-item a.nav-link {
  color: #4b4b4b;
}

nav.navbar-style div ul.navbar-nav li.nav-item a.nav-link:hover {
  color: #f62e75;
}

nav.navbar-style div form button.button-search-style {
  outline: none;
  border: none;
  border-radius: 0.4rem;
  background-color: #f62e75;
}

nav.navbar-style div form button.button-search-style:hover {
  background-color: #f68fad;
}

div.nav-item.dropdown a.nav-link {
  color: #f62e75;
}

div.nav-item.dropdown a.nav-link i:hover {
  color: #f68fad;
}

div.nav-item.dropdown a.nav-link:hover {
  color: #f68fad;
}

div.nav-item.dropdown div.dropdown-menu {
  position: absolute;
  left: -4rem;
}

div.nav-item.dropdown div.dropdown-menu a.dropdown-item {
  padding-right: 0;
  padding-left: 0.5rem;
}

div.nav-item.dropdown div.dropdown-menu a.dropdown-item:hover {
  background-color: #ffe6e3;
}

div.container-fluid {
  padding-left: 0;
  padding-right: 0;
  margin-right: 0;
  margin-left: 0;
  width: 100%;
}

div.container-fluid .row div.col-sm-12 {
  text-align: center;
}

div.container-fluid .row div.col-sm-12 footer.footer {
  background-color: #ffe6e3;
  font-weight: normal;
  font-size: 14px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
}

div.container-fluid .row div.col-sm-12 footer.footer ul.footer-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

div.container-fluid .row div.col-sm-12 footer.footer ul.footer-list li {
  display: inline-block;
  padding: 15px 80px;
  letter-spacing: 0.1em;
}

div.container-fluid .row div.col-sm-12 footer.footer ul.footer-list li span {
  color: #f62e75;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
  margin-right: 0;
  margin-left: 0;
  width: 100%;
}

.errors-and-successes {
  padding-top: 10px;
}

.errors-and-successes .alert.alert-success {
  background-color: #ffe6e3;
  border: none;
  outline: none;
}

.login-card {
  padding-top: 100px;
  border: none;
  border: 1px solid #ffe6e3;
  border-radius: 15px;
}

.login-card .card-header {
  background-color: #ffffff;
  font-size: 20px;
  border: none;
  color: #f62e75;
  padding-top: 15px;
  padding-bottom: 0;
}

.login-card .card {
  border: none;
  border-radius: 10px;
}

.login-card .card .card-body form .form-group label {
  color: #f62e75;
  font-size: 16px;
}

.login-card .card .card-body form .form-group div input {
  border: none;
  outline: none;
  border: 0.5px solid #f62e75;
}

.login-card .card .card-body form .form-group div button.login-btn {
  background-color: #f62e75;
  color: #ffffff;
}

.login-card .card .card-body form .form-group div button.login-btn:hover {
  background-color: #f68fad;
}

.login-card .card .card-body form .form-group div a.btn.btn-link {
  text-decoration: none;
  color: #f62e75;
  font-size: 16px;
}

.login-card .card .card-body form .form-group div a.btn.btn-link:hover {
  color: #0f003d;
}

.register-card {
  padding-top: 15px;
}

.register-card .card {
  border: none;
}

.register-card .card .card-header {
  background-color: #ffffff;
  font-size: 20px;
  border: none;
  color: #f62e75;
  padding-top: 15px;
  padding-bottom: 0;
}

.register-card .card .card-body form .form-group label {
  color: #f62e75;
  font-size: 16px;
}

.register-card .card .card-body form .form-group div input,
.register-card .card .card-body form .form-group div select {
  border: none;
  outline: none;
  border: 0.5px solid #f62e75;
}

.register-card .card .card-body form .form-group div input#logo {
  height: 45px;
  padding-bottom: 10px;
}

.register-card .card .card-body form .form-group div button.register-btn {
  background-color: #f62e75;
  color: #ffffff;
}

.register-card .card .card-body form .form-group div button.register-btn:hover {
  background-color: #f68fad;
}

.register-card .card .card-body form .form-group div a.btn.btn-link {
  text-decoration: none;
  color: #f62e75;
  font-size: 16px;
}

.register-card .card .card-body form .form-group div a.btn.btn-link:hover {
  color: #0f003d;
}

.email-verify {
  position: relative;
  top: 50px;
}

.email-verify .card {
  border: none;
}

.email-verify .card .card-header {
  background-color: #ffffff;
  font-size: 20px;
  border: none;
  color: #f62e75;
  padding-top: 15px;
  padding-bottom: 0;
}

.email-verify .card .card-body form .form-group label {
  color: #f62e75;
  font-size: 16px;
}

.email-verify .card .card-body form .form-group div input,
.email-verify .card .card-body form .form-group div select {
  border: none;
  outline: none;
  border: 0.5px solid #f62e75;
}

.email-verify .card .card-body form .form-group div input#logo {
  height: 45px;
  padding-bottom: 10px;
}

.email-verify .card .card-body form .form-group div button.email-verify-btn {
  background-color: #f62e75;
  color: #ffffff;
}

.email-verify .card .card-body form .form-group div button.email-verify-btn:hover {
  background-color: #f68fad;
}

.email-verify .card .card-body form .form-group div a.btn.btn-link {
  text-decoration: none;
  color: #f62e75;
  font-size: 16px;
}

.email-verify .card .card-body form .form-group div a.btn.btn-link:hover {
  color: #0f003d;
}

.reset-verify {
  position: relative;
  top: 50px;
}

.reset-verify .card {
  border: none;
}

.reset-verify .card .card-header {
  background-color: #ffffff;
  font-size: 20px;
  border: none;
  color: #f62e75;
  padding-top: 15px;
  padding-bottom: 0;
}

.reset-verify .card .card-body form .form-group label {
  color: #f62e75;
  font-size: 16px;
}

.reset-verify .card .card-body form .form-group div input,
.reset-verify .card .card-body form .form-group div select {
  border: none;
  outline: none;
  border: 0.5px solid #f62e75;
}

.reset-verify .card .card-body form .form-group div input#logo {
  height: 45px;
  padding-bottom: 10px;
}

.reset-verify .card .card-body form .form-group div button.reset-verify-btn {
  background-color: #f62e75;
  color: #ffffff;
}

.reset-verify .card .card-body form .form-group div button.reset-verify-btn:hover {
  background-color: #f68fad;
}

.reset-verify .card .card-body form .form-group div a.btn.btn-link {
  text-decoration: none;
  color: #f62e75;
  font-size: 16px;
}

.reset-verify .card .card-body form .form-group div a.btn.btn-link:hover {
  color: #0f003d;
}

.row.add-new-company {
  width: auto;
  margin: 0;
  padding: 0;
}

.row.add-new-company .col-sm-10 {
  padding: 10px 0 20px 60px;
}

.row.add-new-company .col-sm-10 h1 {
  text-align: left;
  color: #f62e75;
  letter-spacing: 0.5px;
}

.row.add-new-company .col-sm-2 {
  padding-top: 22px;
}

.row.add-new-company .col-sm-2 a {
  text-decoration: none;
}

.row.add-new-company .col-sm-2 a button.add-new-comp {
  background-color: #f62e75;
  color: #ffffff;
}

.row.add-new-company .col-sm-2 a button.add-new-comp:hover {
  background-color: #f68fad;
}

.row.add-new-comp-form form .form-group label {
  color: #f62e75;
  font-size: 16px;
}

.row.add-new-comp-form form .form-group div input {
  border: none;
  outline: none;
  border: 0.5px solid #f62e75;
}

.row.add-new-comp-form form .form-group div button.add-comp-btn {
  background-color: #f62e75;
  color: #ffffff;
}

.row.add-new-comp-form form .form-group div button.add-comp-btn:hover {
  background-color: #f68fad;
}

.row.index-company {
  width: auto;
  margin: 0;
  padding: 0;
}

.row.index-company .col-sm-9 {
  padding: 10px 0 20px 60px;
}

.row.index-company .col-sm-9 h2 {
  text-align: left;
  color: #f62e75;
  letter-spacing: 0.5px;
}

.row.index-company .col-sm-3 {
  padding-top: 22px;
  padding-left: 50px;
}

.row.index-company .col-sm-3 a {
  text-decoration: none;
}

.row.index-company .col-sm-3 a button.add-new-comp {
  background-color: #f62e75;
  color: #ffffff;
}

.row.index-company .col-sm-3 a button.add-new-comp:hover {
  background-color: #f68fad;
}

.row.add-new-comp-form form .form-group label {
  color: #f62e75;
  font-size: 16px;
}

.row.add-new-comp-form form .form-group div input {
  border: none;
  outline: none;
  border: 0.5px solid #f62e75;
}

.row.add-new-comp-form form .form-group div button.add-comp-btn {
  background-color: #f62e75;
  color: #ffffff;
}

.row.add-new-comp-form form .form-group div button.add-comp-btn:hover {
  background-color: #f68fad;
}

.row.company-list .col-sm-7 ul {
  list-style: none;
  width: 30rem;
  margin: 0 auto;
  padding-left: 0;
}

.row.company-list .col-sm-7 ul li {
  display: block;
  width: 10rem;
  margin: 0 auto;
  height: auto;
  padding: 5px 10px;
}

.row.company-list .col-sm-7 ul li a button.btn.comp-list-btn {
  color: #ffffff;
  letter-spacing: 1.5px;
  width: 100%;
}

.row.company-list .col-sm-7 ul li a button.btn.comp-list-btn:hover {
  color: #2d2d2d;
}

